cga_illustration_log.txt
*.h5
*.png

!04_0000_boundaries_R2C.png
!04_0000_boundaries_R2C_2coloring.png
!04_0009_boundaries_R2C.png
!04_0019_boundaries_G2C.png
!result_cgc0.png
!result_multicut.png
!result_partitionmove.png

